*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: #BAE9E9;
    min-height: 100%;
    font-family: sans-serif;
    color: #3D5757;
    padding-bottom: 160px;
}

.top-nav {
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    height: 75px;
    border-radius: 8px;
    background-color: #419796;
    font-family: Arial Black, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #E6F4F3

}

.top-nav .add-room-button {
    position: absolute;
    top: 15px;
    width: 10em;
    right: 30px;
    border-radius: 12px;
    text-align: center;
    line-height: 50px;
    text-shadow: #F4AE7E;
    background-color: #0ED2D0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 325;
    color: #EFFDFD;
}

.side-nav {
    position: relative;
    height: 600px;
    border-radius: 6px;
    width: 180px;
    float: left;
    text-align: center;
    background-color: #E6A36B;
}

.side-nav .room-list {
  position: inherit;
  padding-top: 25px;
  line-height: 150%;
  font-weight: bold;
  color: #419796;
  text-shadow: #0ED2D0;
}
