<nav class="top-nav">
  FrontPorch
    <div class="add-room-button" ng-click="home.openModal()">Add Chatroom
    </div>
</nav>
<nav class="side-nav">
    <table>
      <tr class="room-list" ng-repeat="room in home.roomsData">
        <td class="room-name" ng-click="home.activeRoom">{{ room.$value}} {{ messages.getByRoomID }}</td>
      </tr>
    </table>
</nav>
<main class="chat-room">
    <div>
    <div class="message-exchange">
        <div class="messages" ng-repeat="messages in home.activeRoom">
        </div>
    </div>
    <div class="enter-message"> Type messages here
    <div>
    <div class="submit-button">
        Submit
    <div>

</main>
