<nav class="top-nav">
  FrontPorch
    <div class="add-room-button">
      <input type="button" value="Add Chatroom">
    </div>
</nav>
<nav class="side-nav">
    <div class="room-list">
        Chatroom 1<br>
        Chatroom 2<br>
        Chatroom 3
    </div>
</nav>
<main class="chat-room">
    <form class="new-room">
      <h1>Create A Room<h1>
      <h3>Enter Room Name<h3>
      <input type="text" name="roomname"><br>
      <input type="button" value="Cancel">
      <input type="submit" value="Submit">
    </form>
    <div>
    <div class="message-exchange">
        Messages go here
    </div>
    <div class="enter-message"> Type messages here
    <div>
    <div class="submit-button">
        Submit
    <div>
</main>
