<nav class="top-nav">
  FrontPorch
    <div class="add-room-button" ng-click="home.openModal()">Add Chatroom
    </div>
</nav>
<nav class="side-nav">
    <table>
      <tr class="room-list" ng-repeat="room in home.roomsData">
        <td class="room-name" ng-click="setActiveRoom(room)">{{ room.$value}} </td>
      </tr>
    </table>
</nav>
<main class="chat-room">
    <div>
    <div class="message-exchange">
        <div class= "message-header"> <h2> {{activeRoom.$value}} </h2>
        </div>
        <div class="messages" ng-repeat="message in messages"> <h4> {{message.username}} </h4> {{message.content}}
        </div>
    </div>
    <div class="enter-message">
      <input required type="text" class="message-input" ng-model="msg"> Type messages here
    <div>
    <button type="submit" class="btn btn-primary" ng-click="sendMessage()">Send</button>

</main>
