  <script type="text/ng-template" id="roomModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Create new chatroom</h3>
    </div>
    <div class="modal-body">
      <form ng-submit="ok()">
        <div class="input-group animated fadeIn">
          <input type="text" class="form-control textbox" ng-model="roomName" placeholder="Please enter a name..." autofocus>
          <span class="input-group-btn">
          <button class="btn btn-default btn-success" type="button" ng-click="ok()">Submit</button>
          </span>
        </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<div ng-show="roomName">roomName from a modal: {{ roomName }}</div>
</div>

</div>
